body {
  background-color: brown;
}

.breads {
  background-color: saddlebrown;
  border-radius: 10px 0;
  border: 3px solid black;
  margin-top: 20px;
  padding: 10px;
}

.bread i {
  margin: 10px;
}
