@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

body {
  background-color: brown;
  font-family: 'Trade Winds';
}

.breads {
  background-color: saddlebrown;
  border-radius: 20px 20px 15px 15px;
  border: 3px solid goldenrod;
  border-bottom: none;
  margin-top: 20px;
  padding: 10px;
}

.bread i {
  margin: 10px;
}

.bread-label label {
  font-size: 20px;
  margin: 0;
}

.cheeses {
  background-color: orangered;
  border-radius: 20px 20px 10px 10px;
  border: 3px solid goldenrod;
  border-top: none;
  padding: 10px;
}

.cheese-button {
  color: black;
}

.cheese-button:hover {
  color: navy;
}
